<!--
<img [src]="imagem" />
<button (click)="alterarImagem()">Alterar Imagem</button>
-->

<html lang="pt" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:site_name" content="AlgaWorks" />
    <meta property="fb:app_id" content="208424089199655" />

    <meta name="referrer" content="unsafe-url" />

    <title>Acesse a sua conta-</title>

    <link
      rel="shortcut icon"
      href="/images/favicon-a5cef240290e368de9b98455b3b11d06.ico"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="/dist/css/main-81897d363b57dd23fde32792a481e876.css"
    />

    <link rel="preconnect" href="https://assets.algaworks.com/portal/" />

    <link rel="preconnect" href="https://www.googletagmanager.com/" />
    <link rel="preconnect" href="https://connect.facebook.net/" />
    <link rel="preconnect" href="https://www.facebook.com/" />
    <link rel="preconnect" href="https://xb222.infusionsoft.com/" />
    <link rel="preconnect" href="https://snap.licdn.com/" />
    <link rel="preconnect" href="https://px.ads.linkedin.com/" />
    <link rel="preconnect" href="https://static.olark.com/" />
    <link rel="preconnect" href="https://nrpc.olark.com/" />
    <link rel="preconnect" href="https://www.google-analytics.com/" />
    <link rel="preconnect" href="https://www.googleadservices.com/" />
    <link rel="preconnect" href="https://www.google.com/" />
    <link rel="preconnect" href="https://www.google.com.br/" />

    <!-- Google Tag Manager -->
    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-W587ZP4");
    </script>
    <!-- End Google Tag Manager -->

    <meta
      name="description"
      lang="pt-br"
      content="Faça login no portal de estudos da AlgaWorks."
    />
    <meta name="keywords" content="algaworks, login, acesso" />
    <meta
      property="og:image"
      content="https://app.algaworks.com/images/opengraph-generico.jpg"
    />
    <meta property="og:url" content="https://app.algaworks.com/login" />
    <meta property="og:title" content="Acesse a sua conta - AlgaWorks" />
    <meta
      property="og:description"
      content="Faça login no sistema da IdSistemas."
    />
    <meta property="og:type" content="website" />
  </head>

  <!---->

  <body class="l-simple-page">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-W587ZP4"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <input
      type="hidden"
      name="_csrf"
      value="e8b9b655-6784-4c71-9b6d-fc5367ad9083"
    />
    <input type="hidden" name="_csrf_header" value="X-CSRF-TOKEN" />

    <div class="l-simple-page__container">
      <form action="/login" method="post">
        <input
          type="hidden"
          name="_csrf"
          value="e8b9b655-6784-4c71-9b6d-fc5367ad9083"
        />

        <input
          type="hidden"
          name="_csrf"
          value="e8b9b655-6784-4c71-9b6d-fc5367ad9083"
        />

        <input type="hidden" name="remember-me" value="on" />

        <div class="c-simple-panel">
          <img
            src="/images/logo-algaworks-cores-e0c5c85e851164bce7d96556bf4a1a2b.png"
            alt="IdSistemas"
          />

          <div class="c-simple-panel__message">Por favor, faça o login.</div>

          <div class="c-simple-panel__box">
            <div class="c-labeled-input">
              <input
                type="text"
                class="c-input c-input--big"
                placeholder="Seu e-mail"
                value=""
                name="username"
                autofocus
              />
            </div>

            <div class="c-labeled-input">
              <input
                type="password"
                class="c-input c-input--big"
                placeholder="Sua senha"
                name="password"
              />
            </div>

            <div>
              <button type="submit" class="c-button c-button--form-login">
                Entrar
              </button>
            </div>

            <div style="margin-top: 15px">
              <a href="/esqueceu-senha">Esqueceu a senha?</a>
            </div>
          </div>
          <!--
          <div style="margin-top: 15px">
            <a href="https://www.algaworks.com">Voltar para o site</a>
          </div>
          -->
        </div>
      </form>
    </div>

    <script src="/dist/javascripts/vendors/jquery.min-2c872dbe60f4ba70fb85356113d8b35e.js"></script>

    <script src="/dist/javascripts/aw.min-31f566e41c40acb1f6a823d9d5aced2f.js"></script>

    <!-- Infusionsoft Tracking Code -->
    <script
      type="text/javascript"
      src="https://xb222.infusionsoft.com/app/webTracking/getTrackingCode"
    ></script>

    <!-- Popup Domination -->
    <script src="https://cdn1.pdmntn.com/a/BkU2IOWcm.js"></script>

    <!-- Pingdom -->
    <script
      src="//rum-static.pingdom.net/pa-5c40a057cea07b001600085e.js"
      async
    ></script>

    <!-- Linkedin Rmkt -->
    <script type="text/javascript">
      _linkedin_partner_id = "290401";
      window._linkedin_data_partner_ids =
        window._linkedin_data_partner_ids || [];
      window._linkedin_data_partner_ids.push(_linkedin_partner_id);
    </script>
    <script type="text/javascript">
      (function () {
        var s = document.getElementsByTagName("script")[0];
        var b = document.createElement("script");
        b.type = "text/javascript";
        b.async = true;
        b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js";
        s.parentNode.insertBefore(b, s);
      })();
    </script>
    <noscript>
      <img
        height="1"
        width="1"
        style="display: none"
        alt=""
        src="https://dc.ads.linkedin.com/collect/?pid=290401&fmt=gif"
      />
    </noscript>

    <!-- begin whatsapp code -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
    />
    <a
      id="whatsapp-bubble"
      href="https://wa.me/17992279311"
      Style=" position:fixed;width:60px;height:60px;bottom:40px;right:40px;background-color:#25d366;color:#FFF;border-radius:50px;text-align:center;font-size:30px;box-shadow: 1px 1px 2px #888;
z-index:1000;"
      target="_blank"
    >
      <i style="margin-top: 16px" class="fa fa-whatsapp"></i>
    </a>

    <script>
      var path = window.location.pathname;
      if (
        path.startsWith("/certs/") ||
        path.startsWith("/meus-cursos/") ||
        path.startsWith("/aulas/") ||
        path.startsWith("/forum/")
      ) {
        document.getElementById("whatsapp-bubble").style.display = "none";
      } else {
        document.getElementById("whatsapp-bubble").style.display = "block";
      }
    </script>
    <!-- end whatsapp code -->
  </body>
</html>

<!-- original      -->

<!--
<form [formGroup]="usuario">
  <input
    type="text"
    formControlName="nome"
    placeholder="Nome"
    class="form-control"
  />
  <input
    type="text"
    formControlName="senha"
    placeholder="Senha"
    class="form-control"
  />
  <input
    type="text"
    formControlName="funcao"
    placeholder="Funcao"
    class="form-control"
  />

  <-- botoes
  @if (btnCadastrar) {
  <input
    type="button"
    (click)="cadastrar()"
    [disabled]="usuario.invalid"
    value="Cadastrar"
    class="btn btn-primary"
  />
  }@else {
  <input
    type="button"
    (click)="alterar()"
    value="Alterar"
    class="btn btn-primary"
  />
  <input
    type="button"
    (click)="remover()"
    value="Remover"
    class="btn btn-primary"
  />
  <input
    type="button"
    (click)="cancelar()"
    value="Cancelar"
    class="btn btn-primary"
  />
  }
</form>

<-- tabela -- 
<table class="table">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Senha</th>
      <th>Funcao</th>
    </tr>
  </thead>
  <tbody>
    @for (v of vetor; track $index) {
    <tr>
      <td>
        {{ v.nome }}
        {{ v.senha }}
        {{ v.funcao }}
      </td>
      <td>
        <button class="btn btn-primary" (click)="selecionar($index)">
          Selecionar
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>

<--
<hr />

<p>{{ usuario.value.nome }}</p>
<hr />
<p>{{ usuario.value.senha }}</p>

********************* validacao campo Nome *********************
@if(usuario.get('nome')?.errors?.['required']){
<p>O campo nome deve ser preenchido.</p>
} @if(usuario.get('nome')?.errors?.['minlength']){
<p>O campo nome deve ter pelo menos três caracteres.</p>
} @if(usuario.get('nome')?.valid){
<p>Nome válido!</p>
} ******************* Senha ********************
@if(usuario.get('senha')?.errors?.['required']){
<p>O campo senha deve ser preenchido.</p>
} @if(usuario.get('senha')?.errors?.['minlength']){
<p>O campo senha deve ter valor máximo 5 caracter.</p>
} @if(usuario.get('senha')?.valid){
<p>Senha válida!</p>
} -->
