.form {
  width: 50%;
  margin: 30px auto;
  text-align: center;
}

.formAnte {
  width: 100%;
  min-width: 150px;
  max-width: 500px;
}

.ocultarId {
  display: none;
}

.larguraCampos {
  width: 50%;
}

.modelo-container mat-form-field + mat-form-field {
  margin-left: 1px;
}

.example-container {
  width: 100%;
}

.example-right-align {
  text-align: right;
}

.espacobotao {
  margin-left: 8px;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

input.example-right-align {
  -moz-appearance: textfield;
}
